---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="500 - Page not found">
  <div class="flex flex-col items-center justify-center min-h-screen">
    <h1 class="text-8xl">500</h1>
    <p class="text-2xl mb-4 text-purple-400">Page Not Found</p>

    <p class="text-lg mb-8 text-gray-400 text-center">
      The page you are looking for does not exist or have been moved.
      <br />
      But do not worry, I am still developing...
    </p>

    <a href="/" class="text-lg hover:text-purple-400 transition-colors"> Go back home </a>
  </div>
</BaseLayout>
