---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="500 - Something went wrong">
  <div class="flex flex-col items-center justify-center min-h-screen">
    <h1 class="text-8xl">404</h1>
    <p class="text-2xl mb-4 text-purple-400">Something went wrong</p>

    <a href="/" class="text-lg hover:text-purple-400 transition-colors"> Go back home </a>
  </div>
</BaseLayout>
